/*
-----------------------------------------

Universal Styling CSS

-----------------------------------------
 */

@font-face{
  font-family: 'Acme', sans-serif;
  font-family: 'Josefin Sans', sans-serif;}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #6fc9c1;
  color: black;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 25px;
  padding: 10px;
  font-size: 17px;
}

h1 {
  color: white;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 12px 0 30px;
}

h2 {
  color: white;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 12px 0 30px;
}

 .button {
  display: inline-block;
  margin-top: 100px;
  font-family: 'Acme', sans-serif;
  color: black;
  background-color: #edc7df;
  border-radius: 6px;
  padding: 10px;
  max-width: 145px;
  min-width: 145px;
  text-align: center;
  margin: 100px 30px;
  border: 4px solid black;
  text-decoration: none;
  transition: .3s;
 }

.button:hover {
  background-color: #6fc9c1;
  transition: .3s;
}

.button:active {
  background-color: #03adbf;

}

header {
  background-color: #111111;
  padding: 10px;
  width: 100vw;
  height: 18%;
  z-index: 999;
  position: fixed;

}

.content {
  background-color: #333333;
  color: white;
  margin: 0 auto;
  max-width: 78%;
  padding: 10px;
  min-height: 100vh;
  position: relative;

}

main {
  background-color: #6fc9c1;
  padding-top: 120px; /* I removed the break tags and adding padding to move the main content down */
}

footer {
  background-color: #111111;
  color: white;
  text-align: center;
  z-index: 5;
  padding: 25px;
  font-family: 'Acme', sans-serif;
}

.footer-style {
  color: #7c5da7;
}
 /*
 -----------------------------------------

 Navigation Bar Styling CSS

 -----------------------------------------
  */

.menu { /*changed the width to 80% and removed the max width. Displayed it inline-block so it shows up on the same line as your logo */
  width: 130%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  }

.menu ul {
  list-style: none;
  }

.sub-menu {
  position: absolute;
  top: 37px;
  width: 100%;
  z-index: 9999;
  display: none;
}

.menu ul li a:hover {
  background-color: #817fbc;
  transition: .3s;
}

.menu ul li a:active {
  background-color: #03adbf; }

.menu-item:hover .sub-menu {
  display: block;
}

.menu > ul > li {
  display: inline-block;
  width: 10%;
  color: white;
  transition: .3s;
  margin-bottom: 1px;
  position: relative;
  vertical-align: top;
  }

.menu ul li a {
  text-decoration: none;
  background-color: #111111;
  color: white;
  display: block;
  padding: 10px;
  }

.logo { /* Removed float left. Changed the width to 5% */
  width: 5%;
  float: left;
  margin: 5px 120px;
  display: inline-block;
  }

  /*
  -----------------------------------------

  Image Styling CSS

  -----------------------------------------
   */

.homepage-image {
  width: 300px;
  float: right;
  margin-top: 6px;
  margin-right: 12px;
}

/*
-----------------------------------------

Portfolio Styling CSS

-----------------------------------------
 */

 .icon-button {
   /* consider doing a display: inline or display: inline-block */
   top: 25px;
   text-decoration: none;
   color: black;
   border: 3px solid black;
   background-color: white;
   border-radius: 500px;
   font-size: 125px;
   padding: 40px;
   position: relative;
   margin: 0 53px;
 }

 .film-content {
   top: -225px;
   border-top: 2px dashed black;
   /*background: blue; */
   position: static;
 }

 .writing-content {
    border-top: 2px dashed black;
    top: -225px;
    position: static;
 }

 .graphics-content {
  border-top: 2px dashed black;
   position: static;
   top: -225px;
 }

 .extra-space {
   position: static;
 }

 .portfolio-content {
   min-height: 70vh;
 }

 .icon-button-section {
   display: inline-block;
 }

 .icon-below-link {
   margin-top: 100px;
   font-family: 'Acme', sans-serif;
   font-size: 30px;
   display: block;
   text-align: center;
   text-decoration: none;
   color: white;
 }

 .film-heading {
   color: #cce4b3;
 }

 .writing-heading {
   color: #edc7df;
 }

 .graphics-heading {
   color: #a6aacc;
 }

 .writing-sample-name {
   font-family: 'Acme', sans-serif;
   font-size: 22px;
   margin-left: 4px;
 }

.writing-sample-description {
  margin-left: 181px;
}

.portfolio-image {
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.portfolio-edge {
  margin-left: 164px;
}


.portfolio-edge2 {
  margin-left: 55px;
}

.flip-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  background: transparent;
  margin: 10px;
}

.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden */
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #a6aacc;
  transform: rotateY(180deg);
  color: black;
  padding: 10px 6px 0;
}

.flip-card-info {
  font-size: 10pt;
  line-height: 1.2;
}

.flip-card-edge {
  margin-left: 55px;
}

.flip-card-edge2 {
  margin-left: 164px;
}
 /*
 -----------------------------------------

 Contact Form Styling CSS

 -----------------------------------------
  */

  .contact-form {
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .label-input {
    display: block;
  }

  .reset input,
  .submit input {
    margin-top: 20px;
    font-family: 'Acme', sans-serif;
    color: black;
    background-color: #edc7df;
    border-radius: 6px;
    padding: 10px;
    max-width: 145px;
    min-width: 145px;
    text-align: center;
    margin: 20px 30px;
    border: 4px solid black;
    text-decoration: none;
    transition: .3s;
  }

  .reset,
  .submit {
    display: inline;
  }

  .resetbackground:hover,
  .submitbackground:hover {
    background-color: #6fc9c1;
    transition: .3s;
  }

  .resetbackground:active,
  .submitbackground:active {
    background-color: #03adbf;
  }

  .input-section {
    margin-bottom: 10px;
  }

  input {
    padding: 5px 10px;
    border-radius: 2px;
  }

  textarea {
      font-family: 'Josefin Sans', sans-serif;
      padding: 5px;
  }

  .contact-page-p {
    text-align: center;
  }

  p.contact-page-p::first-letter {
    font-size: 40px;
    font-family: cursive;
  }

  p.contact-page-p::after {
    content: "Thank you!";
  }

  /*
  -----------------------------------------

  About Page Styling CSS

  -----------------------------------------
   */

   .about-image {
     border-radius: 50px;
     min-width: 250px;
     max-width: 250px;
     margin: 0 auto;
   }

   .about-image-div {
     padding-bottom: 20px;
     max-width: 250px;
     margin: 0 auto;
   }

   /*
   -----------------------------------------

   Blog Styling CSS

   -----------------------------------------
    */
  .blog-names {
    font-family: 'Acme', sans-serif;
    font-size: 22pt;
    color: #cce4b3;
  }

  .blog-switch {
    text-align: right;
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    color: #a6aacc;
    font-size: 14pt;
  }

  .blog-image {
    max-width: 450px;
    margin: 0 auto;
  }

  .blog-image-div {
    padding: 10px;
    text-align: center;
  }

  .caption {
    font-size: 10pt;
    line-height: 14pt;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
  }

  .blog-link {
    color: white;
    transition: .3s;
  }

  .blog-link:hover {
    color: #7c5da7;
    transition: .3s;
  }

  .blog-link:active {
    color: #03adbf;
    transition: .3s;
  }
